@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap");

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
}

.content {
  width: 80%;
  padding: 1em;
  max-width: 700px;
  text-align: center;
  background: white;
}

.form-area {
  display: flex;
  flex-direction: column;
}
.form-area > div {
  margin-bottom: 1em;
}

#question-content {
  width: 100%;
  padding: 0.8em;
  font-family: "Nanum Gothic", sans-serif;
  line-height: 1.35;
  box-sizing: border-box;
}
